<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>まるばつクイズ</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="main">
    <div class="container">
      <div class="question-box">
        <h2>問題</h2>
        <p>Webサービスコースのキャラクターはビルソンである。</p>
      </div>
      <div class="answer-boxes">
        <a href="/answer/yes">
          <div class="answer-box">
            <img src="/img/maru_small.png">
          </div>
        </a>
        <a href="/answer/no">
          <div class="answer-box">
            <img src="/img/batsu_small.png">
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
